<div class="blogs content">
  <h2>All Blogs</h2>
  <div class="filter">
    <form action="">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Search by title..."
      />
    </form>
  </div>
  <%if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
  <div class="blog">
    <div class="blog-item">
      <h3><%= blog.title %></h3>
      <p><%= blog.snippet %></p>
      <a href="/api/v1/blogs/<%= blog._id %>" title="Read More">Read More -></a>
    </div>
    <div class="blog-media">
      <% if (blog.media && blog.media.data) { %> <% if (blog.media.contentType
      && blog.media.contentType.startsWith('image/')) { %>
      <img
        src="data:<%= blog.media.contentType %>;base64,<%= blog.media.data.toString('base64') %>"
        alt="<%= blog.title %>"
      />
      <% } else if (blog.media.contentType &&
      blog.media.contentType.startsWith('video/')) { %>
      <video controls width="200">
        <source
          src="data:<%= blog.media.contentType %>;base64,<%= blog.media.data.toString('base64') %>"
          type="<%= blog.media.contentType %>"
        />
        Your browser does not support the video tag.
      </video>
      <% } %> <% } %>
    </div>
    
    <div class="blog-info-btns">
      <div class="blog-info">
      <p class="blog-date">
        <i class="fa fa-calendar"></i> 
        Published <%= moment(blog.createdAt).format('MM/DD/YYYY [at] hh:mm A') %>
      </p>
        <% if (blog.createdAt.getTime() !== blog.updatedAt.getTime()) { %>
        <p class="blog-updated-date">
          <i class="fa fa-edit"></i> 
          Updated <%= moment(blog.updatedAt).fromNow() %>
        </p>
       <% } %>
        
      </div>
      <div class="blog-btns">
        <form method="POST" action="">
          <a
            href="/api/v1/blogs/update/<%= blog._id %>"
            title="Update"
            class="btn"
          >
            <i class="fas fa-edit"></i>
          </a>
        </form>
        <form
          method="POST"
          action="/api/v1/blogs/<%= blog._id %>/delete"
          title="Delete"
        >
          <button type="submit" class="btn"><i class="fas fa-trash"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="bar"></div>

  <% }) %>

  <div id="no-results">No résult found.</div>
  <% } else { %>
  <p>No blogs available.</p>
  <% } %>
</div>
