<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>
        <h2>Details Blog</h2>
    <div class="contents">
        <div class=" blog-detail">
            <h3> <%= blog.title %> </h3>
            <div>
                <img src="/img/errjava.png" alt="">
                <h4> <%= blog.snippet %> </h4>
                <p> <%= blog.body %> </p>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
</body>
</html>