<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>

        <h2>Details Blog</h2>
        <h3> <%= blog.title %> </h3>
        <p> <%= blog.body %> </p>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
</body>
</html>